{% extends "layout.html" %}
{% block title %}Cloudflare Tools{% endblock %}
{% block content %}
<div class="container pt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Dynamic DNS</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Configuration</h6>
                {% if dns_config %}
                <p class="card-text">
                    <ul>Date - 192.168.1.1</ul>
                </p>
              {% else %}
                <p>Create a new Dynamic DNS entry</p>
                <form method="POST" action="/" class="form-inline">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" id="hostname" name="hostname" class="form-control" value="">
                            <label for="hostname">Hostname</label>
                        </div>
                        <div class="form-floating">
                            <select name="domain-select" id="domain-select" class="form-control">
                                {% for name in zone_names %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <label for="domain-select">Domain</label>
                        </div>
                        <button type="submit" name="add-button" id="add-button" class="btn btn-primary ml-2">Add</button>
                    </div>
                </form>
                {% if existing_dyndns_entries %}
                    <p class="pt-3">Managed Dynamic DNS records</p>
                    <p>Each hostname below will be updated with the IP address shown on the right.</p>
                    <form method="POST" action="/">
                    <ul class="list-group">
                        {% for record in existing_dyndns_entries %}
                            <li class="list-group-item">{{ record.name }}<button id="delete-button" name="delete-button" class="btn btn-sm float-end btn-danger">Delete</button></li>
                            <input type="hidden" name="delete-zone-id" value="{{ record.id }}">
                            <input type="hidden" name="delete-hostname" value="{{ record.name }}">
                        {% endfor %}
                    </ul>
                    </form>
                {% else %}
                <p class="pt-3">No existing entries</p>
                {% endif %}  
              {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Dynamic DNS Job History</h5>
                <p class="card-text">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for record in dyndns_history %}
                        <tr>
                            <th scope="row">{{ record[0] }}</th>
                            <td>{{ record[1] }}</td>
                          </tr>
                        {% endfor %}                                 
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
      </div>
      <div class="col-md-6 p-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Connection Details</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ current_ip_data['isp'] }} in {{ current_ip_data['city'] }}</h6>
                <p class="card-text">
                    <ul>
                        {% for key, value in current_ip_data.items() %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                </p>
              </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">ISP IP History</h5>
                <p class="card-text">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">IP</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for record in ip_history %}
                        <tr>
                            <th scope="row">{{ record[0] }}</th>
                            <td>{{ record[1] }}</td>
                          </tr>
                        {% endfor %}                                 
                        </tbody>
                    </table>

                </p>
              </div>
        </div>        
      </div>
    </div>
  </div>
{% endblock %}